<html lang="zh">
  <style>
    .title {
      font-size: 28px;
      margin: 0;
      padding: 0;
      color: #3b3b3b;
      text-align: center;
    }
    .content {
      padding-bottom: 5%;
      font-size: 24px;
      color: #4b4b4b;
      text-align: center;
    }
    .timer {
      font-size: 18px;
      color: #4b4b4b;
      text-align: center;
    }
    .code {
      font-size: 24px;
      color: #2c2c2c;
      text-align: center;
      font-weight: 300;
      line-height: 1.3;
      margin: 0;
      padding-bottom: 5%;
    }
    .footer {
      font-size: 16px;
      text-align: center;
    }
  </style>

  <h1 class="title">智能驾驶检测系统</h1>

  <div class="content">
    <p>您正在进行智能驾驶检测系统的注册, 这是您的验证码, 请在30分钟内完成注册</p>
  </div>
  <div class="code">
    <p>{{ code }}</p>
  </div>

    <div class="timer">
        <p>请注意, 该验证码将在{{ timer }} 失效
    </div>

  <div class="footer">
    <p>如果您没有进行注册, 请忽略此邮件</p>
  </div>


</html>